.navbar{
    height: 12vh;
    background: linear-gradient(135deg, #0e3b26, #129f5d);
    box-shadow: 0 10px 25px rgba(0, 255, 150, 0.25);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0,255,150,0.2);
}

.navbar h3{
    margin: 0;
    color: #dffff0;
    margin-left: 3vw;
    cursor: pointer;
    text-shadow: 0 0 10px #19ff96;
    font-weight: 700;
    transition: 0.3s;
}

.navbar h3:hover{
    transform: scale(1.05);
}

/* NAV CONTENT */
.nav-content{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.nav-search{
    width: 70%;
    display: flex;
    align-items: center;
}

.nav-search input{
    width: 100%;
    outline: none;
    padding: 10px 10px;
    border-radius: 0.5rem;
    border: none;
    font-size: 0.9rem;
    position: relative;
    left: 2rem;
    box-shadow: 0 4px 12px rgba(0, 255, 150, 0.25);
}

.nav-search input:focus{
    box-shadow: 0 4px 20px rgba(0, 255, 150, 0.35);
}

.nav-search-icon{
    font-size: 2rem; 
    position: relative;
    left: -0.5rem; 
    cursor: pointer;
    color: #b0ffe3;
    text-shadow: 0 0 8px #19ff96;
}

/* SEARCH BOX */
.search-result-data{
    position: absolute;
    top: 10vh;
    left: 40vw;
    background-color: rgba(27, 59, 47, 0.85);
    backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 0.4rem;
    color: #dfffee;
    border: 1px solid rgba(0,255,150,0.2);
    box-shadow: 0 6px 20px rgba(0,255,150,0.3);
}

.search-result-data-close-btn{
    margin-left: 20px;
    cursor: pointer;
}

/* LOGIN BUTTON */
.nav-content button{
    margin: 0 30px 0 0;
    padding: 3px 20px 5px 20px;
    border-radius: 0.5rem;
    border: 1px solid #afffe0;
    color: #dffff0;
    background: transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.nav-content button:hover{
    background: rgba(0,255,150,0.2);
    box-shadow: 0 0 12px rgba(0, 255, 150, 0.4);
}

/* ICONS */
.nav-content-icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin-right: 30px;
}

.navbar-icons{
    font-size: 1.6rem;
    color: #b0ffe3;
    text-shadow: 0 0 10px #19ff96;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-icons:hover{
    transform: scale(1.15);
}

/* CART COUNT */
.nav-cart .cart-count{
    position: relative;
    top: -10px;
    font-size: 0.7rem;
    color: #00ffcc;
    font-weight: 700;
}

/* PROFILE */
.nav-profile{
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.nav-profile p{
    margin: 0;
    color: #dffff0;
}